*.svn
*kefile
*.mk
*.ncb
*.tmp
*.pyc
*.sln
*.suo
*.user
*.bak
*.vcproj
*.vcxproj
*.vcxproj.filters
*.xcodeproj
*.rules
*.aps
*~
.metadata
.project
.cproject
Thumbs.db
/_out
/Makefile
/chrome/Debug
/chrome/Release
/build/Debug
/build/Debug_x64
/build/Release
/build/Release_x64
/build/User Data
/chrome/x64
/chrome/installer/tdsetup
/chrome/test/data/firefox2_profile/searchplugins
/chrome/test/data/firefox2_searchplugins
/chrome/test/data/firefox3_profile/searchplugins
/chrome/test/data/firefox3_searchplugins
/chrome/test/data/layout_tests
/chrome/test/data/osdd
/chrome/test/data/plugin
/chrome/test/data/workers/LayoutTests
/third_party/WebKit/LayoutTests
/third_party/platformsdk_win7
/third_party/directxsdk
/third_party/Privacy/Privacy/Debug
/third_party/Privacy/Privacy/Release
/third_party/Privacy/Privacy/Debug
/third_party/Privacy/Privacy/Release
/chromeie
*.props
*.xml
*.targets
#*.scons
/build/util/LASTCHANGE
/build/util/LASTCHANGE.blink
/chrome/ipch
*.sdf
*.opensdf
*.gypcmd
*.ipch
